@model BlogProject.Models.Author

@{
    ViewData["Title"] = "Yazar Oluştur";
}

<h1>Yazar Oluştur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a class="btn btn-danger" asp-action="Index">İptal</a>
                <input type="submit" value="Ekle" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

